<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page-2</title>
    <link rel="stylesheet" href="../src/css/page-2.css">
</head>
<body>
    <header>
        <h1 class="h1">Discover the <br> beauty around <br> the world</h1>
        <p class="p">Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit. <br> Faucibus in libero risus semper <br> habitant arcu.</p>
    </header>
    <main>
        <button>
            <a href="../index.html">Get started</a>
        </button>
        <section class="main__images1">
            <img src="../src/storage/img/img1-page2.png">
        </section>
        <section class="main__images2">
            <img src="../src/storage/img/img2-page2.png">
        </section>
    </main>
    <footer>
        <section class="footer__images">
            <img src="../src/storage/img/img3-page2.png">
            <img src="../src/storage/img/img4-page2.png">
            <img src="../src/storage/img/img5-page2.png">
        </section>
        <div class="footer__span1">
            <span><strong>01</strong></span>
        </div>
        <div class="footer__span2">
            <span><strong>02</strong></span>
        </div>
        <div class="footer__span3">
            <span><strong>03</strong></span>
        </div>
    </footer>
</body>
</html>