<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page-1</title>
    <link rel="stylesheet" href="../src/css/page-1.css">
</head>
<body>
    <header>
    <h1 class="h1__header">
        Discover the beauty <br> around the world
    </h1>
    <p class="p__header">
        Lorem ipsum dolor sit amet, consectetur adipiscing <br> elit. Faucibus in libero risus semper habitant arcu <br> eget. Et integer facilisi eget diam.
    </p>
    </header>
    <main>
        <button class="explore__button">
            <p>Explore</p>
        </button>
    </main>
</body>
</html>