<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page-3</title>
    <link rel="stylesheet" href="../src/css/page-3.css">
</head>
<body>
    <header>
        <h1>Just that simple</h1>
    </header>
    <main>
        <section class="section__main">
            <p>Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit. Faucibus in libero risus <br> semper habitant arcu eget.</p>
        </section>
        <button>
            <p>Get started</p>
        </button>
    </main>
    <footer>
        <section class="section__footer">
            <img src="../src/storage/img/img1-page3.png">
        </section>
    </footer>
</body>
</html>