<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page-9</title>
    <link rel="stylesheet" href="../src/css/page-9.css">
</head>
<body>
    <header>
        <div class="div__header">
            <h1>Interior design</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing <br> elit. Faucibus in libero risus semper habitant arcu eget. <br> Et integer facilisi eget.</p>
            <button>
                <a href="../index.html">Explore</a>
            </button>
        </div>
        <img src="../src/storage/img/img1-page9.png" class="img__header">
    </header>
    <footer>
        <img src="../src/storage/img/img2-page9.png" class="img__footer">
        <div class="div__footer">
            <div class="div__info">
                <div class="div__info1">
                    <p class="title__info1">5.8</p>
                    <div class="line1">-</div>
                    <p class="text__info1">Lorem ipsum dolor sit <br> amet, consectetur <br> adipiscing elit. Faucibus <br> in libero risus semper <br> habitant arcu eget.</p>
                </div>
                <div class="div__info2">
                    <p class="title__info2">99+</p>
                    <div class="line2"></div>
                    <p class="text__info2">Lorem ipsum dolor sit <br> amet, consectetur <br> adipiscing elit. Faucibus <br> in libero risus semper <br> habitant arcu eget.</p>
                </div>
                <div class="div__info3">
                    <p class="title__info3">99+</p>
                    <div class="line3"></div>
                    <p class="text__info3">Lorem ipsum dolor sit <br> amet, consectetur <br> adipiscing elit. Faucibus <br> in libero risus semper <br> habitant arcu eget.</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>