<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page-5</title>
    <link rel="stylesheet" href="../src/css/page-5.css">
</head>
<body>
    <header>
        <div class="div__header">
            <h1>Projects and practice</h1>
        </div>
    </header>
    <main>
        <div class="div__main1">
            <span>01</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget.</p>
            <img src="../src/storage/img/img1-page5.png">
        </div>
        <div class="div__main2">
            <span>02</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget.</p>
            <img src="../src/storage/img/img2-page5.png">
        </div>
        <div class="div__main3">
            <span>03</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget.</p>
            <img src="../src/storage/img/img3-page5.png">
        </div>
    </main>
</body>
</html>