<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page-2</title>
    <link rel="stylesheet" href="../src/css/page-2.css">
</head>
<body>
    <header>
        <h1 class="h1">Discover the <br> beauty around <br> the world</h1>
        <p class="p">Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit. <br> Faucibus in libero risus semper <br> habitant arcu.</p>
    </header>
</body>
</html>