@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(100deg, var(--color-shadow-5) 0%, var(--color-shadow-6) 100%);
}
/*********** Header ***********/
header{
    display: flex;
    flex-direction: row;
    padding: 64px 64px 0px 295px ;
}
.div__header{
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 50%
}
.div__header h1{
    font-family: "Poppins-Bold";
    font-size: 117px;
    color: var(--color-10);
    margin-bottom: 18px;
}
.div__header p{
    font-family: "Poppins-Regular";
    font-size: 32px;
    color: var(--color-10);
    margin-bottom: 18px;
}
.div__header button{
    background: var(--color-10);
    border: none;
    border-radius: 36px;
    width: 240px;
    height: 70px;
}
.div__header button a{
    font-family: "Poppins-Regular";
    font-size: 24px;
    color: var(--color-2);
    text-decoration: none;
}
.img__header{
    margin-top: -64px;
    margin-left: 720px;
    width: 55%
}
/*****************************/
/*********** Footer ***********/
footer{
    display: flex;
    flex-direction: row;
    padding: 0px 64px 0px 64px ;
}
.img__footer{
    width: 40%;
}
.div__footer{
    background: linear-gradient(200deg, var(--color-2) 0%, var(--color-shadow-7) 100%);
    display: flex;
    position: absolute;
    flex-direction: row;
    width: 1105px;
    height: 310px;
    border-radius: 144px;
    margin-top: 230px;
    margin-left: 600px;
}
/*****************************/