@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*************** Header ***************/
header{
    background-color: var(--color-2);
    display: flex;
}
h1{
    font-family: "Metropolis-SemiBold";
    font-size: 100px;
    color: var(--color-3);
    margin: 122px 0px 0px 64px;
}
/***********************************/
/*************** Main**************/
.section__main{
    background-color: var(--color-2);
    display: flex;
}
.section__main p{
    font-family: "avenir-roman";
    font-size: 30px;
    color: var(--color-4);
    margin: -100px 5px 0px 1151px;
}
button{
    background-color: var(--color-3);
    color: var(--color-2);
    font-family: "avenir-roman";
    font-size: 16px;
    width: 157px;
    height: 50px;
    border: none;
    border-radius: 14px;
    margin: 32px 0px 136px 1151px;
}
/*********************************/
/************ Footer *************/
.section__footer{
    background-color: var(--color-2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.section__footer img{
    width: 100%;
    margin: 0px 64px 56px 64px;
}
/*********************************/