:root{
    --color-1: #000000;
    --color-2: #FFFFFF;
    --color-3: #252525;
}
@font-face {
    font-family: "Metropolis-Regular";
    src: url("../storage/fonts/Metropolis/Metropolis-Regular.otf");
}
@font-face {
    font-family: "Metropolis-SemiBold";
    src: url("../storage/fonts/Metropolis/Metropolis-SemiBold.otf");
}