:root{
    --color-1: #000000;
    --color-2: #FFFFFF;
    --color-3: #252525;
    --color-4: hsla(0, 0%, 15%, 0.8);
    --color-5: hsla(0, 0%, 15%, 0.25);
    --color-6: hsla(0, 0%, 15%, 0.55);
    --color-7: hsla(0, 0%, 15%, 0.35);
    --color-8: #E5B94B;
    --color-9: #080808;
    --color-shadow-1: hsla(0, 0%, 0%, 0.49);
    --color-shadow-2: hsla(0, 0%, 0%, 0);
    --color-shadow-3: hsl(11, 95%, 31%);
    --color-shadow-4: hsl(12, 93%, 35%);
}
@font-face {
    font-family: "WorkSans-Bold";
    src: url("../storage/fonts/Work_Sans/static/WorkSans-Bold.ttf");
}
@font-face {
    font-family: "WorkSans-Light";
    src: url("../storage/fonts/Work_Sans/static/WorkSans-Light.ttf");
}
@font-face {
    font-family: "WorkSans-Medium";
    src: url("../storage/fonts/Work_Sans/static/WorkSans-Medium.ttf");
}
@font-face {
    font-family: "Metropolis-SemiBold";
    src: url("../storage/fonts/Metropolis/Metropolis-SemiBold.otf");
}
@font-face {
    font-family: "avenir-roman";
    src: url("../storage/fonts/avenir-roman.ttf");
}